
#root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.App {
    display: flex;
    gap: 100px
}

.active {
    color: red;
    font-size: 40px;
    font-weight: bold;
}

.wrapper {
    background-color: lightgray;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    border: 5px solid black;
}

.buttons {
    box-sizing: border-box;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 280px;
    height: 80px;
    border: 5px solid black;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #e6e5e5;
}

.button {
    box-sizing: border-box;
    line-height: 1;
    padding: 3px;
    font-size: 17px;
    text-align: center;
    background-color: lightgray;
    width: 80px;
    border: 5px solid black;
    border-radius: 10px;
}

.display {
    box-sizing: border-box;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 280px;
    background-color: #e6e5e5;
    border: 5px solid black;
    border-radius: 15px;
}


.field {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin: 5px;
}

.number {
    font-size: 30px;
    font-weight: bold;
}

.span {
    font-size: 30px;
    font-weight: bold;
}

.label {
    display: block;
    font-size: 20px;
}

.Input {
    display: block;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    background-color: lightgray;

}

.ErrorInput {
    display: block;
    font-size: 25px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    background-color: red;
    opacity: 0.5;
}

.error {
    font-size: 30px;
    font-weight: bold;
    color: red;
}